@import "tailwindcss";

/* Включение dark mode по классу .dark */
@custom-variant dark (&:where(.dark, .dark *));

/* Настройка шрифтов */
@theme {
  --font-sans: var(--font-anton), sans-serif;
  --font-mono: var(--font-mono), monospace;
}
html,
body {
  height: 100%;
  width: 100%;
  /* overflow: hidden; */
  overscroll-behavior: none;
  -webkit-tap-highlight-color: transparent;
  font-family: var(--font-sans);
  overflow-y: auto;
  overflow-x: hidden;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}